@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth !important;
}

body {
    font-family: "Chewy", system-ui;
    background: linear-gradient(154.46deg, #bfa4e4 0%, #5a4087 100%);
    color: #1e2f5b;
    font-size: 1.3rem;
}

img {
    width: 100%;
}

/* Header */
header {
    padding-top: 30px;
}

.navbar {
    background: #080f327a;
    padding: 16px;
    border-radius: 64px;
}

.navbar-brand {
    max-width: 50px;
    padding: 0;
}

.nav-link {
    color: #d8cedc;
    transition: 0.4s;
}

.nav-link:hover {
    color: #d8cedc;
    opacity: 0.6;
}

.custom-btn {
    background-color: #1e2f5b;
    border-radius: 55px;
    padding: 5px 15px;
    width: fit-content;
    transition: 0.4s;
}

.custom-btn:hover {
    background-color: #14203d;
}