@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth !important;
}

body {
    font-family: "Chewy", system-ui;
    background: linear-gradient(158.46deg, #bfa4e4 0%, #5a4087 100%);
    color: #1e2f5b;
    font-size: 1.3rem;
}

img {
    width: 100%;
}

.custom-card {
    color: #1e2f5b;
    border: solid 3px #000f94;
    padding: 20px;
    border-radius: 32px;
    background: #ece3f0;
    box-shadow: 0px 0px 16px 0px #0000008f inset;
}

.modal-body {
    height: 60vh;
    overflow-y: scroll;
}

/* Header */
header {
    padding-top: 30px;
}

.navbar {
    background: #080f327a;
    padding: 16px;
    border-radius: 64px;
}

.navbar-brand {
    max-width: 50px;
    padding: 0;
}

.nav-link {
    color: #d8cedc;
    transition: 0.4s;
}

.nav-link:hover {
    color: #d8cedc;
    opacity: 0.6;
}

.custom-btn {
    background-color: #1e2f5b;
    border-radius: 55px;
    padding: 5px 15px;
    width: fit-content;
    transition: 0.4s;
}

.custom-btn:hover {
    background-color: #14203d;
}

/* Hero */
#hero {
    margin: 100px 0;
}

.hero-content {
    max-width: 450px;
}

.hero-img {
    max-width: 400px;
}

/* Introduction */
#intro {
    margin-bottom: 100px;
}

.space-img {
    max-width: 200px;
}

.sub-intro {
    margin-top: 100px;
}

.custom-btn.road {
    position: absolute;
}

.road-img {
    position: absolute;
    max-width: 150px;
    bottom: -60px;
}

.custom-card.road {
    max-width: 540px;
    margin-inline: auto;
}

/* Tokenomics */
#tokenomics {
    margin-block: 50px;
    margin-bottom: 100px;
}

.address {
    border: #ece3f0 solid 2px;
    border-radius: 10px;
    background-color: #1e2f5b;
    max-width: 800px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    margin-inline: auto;
    flex-wrap: wrap;
    color: #ece3f0;
}

.address h6 {
    font-size: 1.5rem;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #ece3f0 solid 2px;
    padding: 5px 15px;
    border-radius: 10px;
    color: #ece3f0;
    background-color: #1e2f5b;
}

/* How to buy */
#how-to-buy {
    margin-top: 50px;
    position: relative;
    max-width: 1260px;
    margin-inline: auto;
}

.space-img.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 180px;
}

/* Footer */
#footer {
    margin-block: 50px;
    color: #ece3f0;
}

.dash {
    height: 5px;
    background-color: #ece3f0;
    flex: 1;
}

.footer-text {
    text-align: center;
    flex: 1;
}

.social {
    font-size: 1.2rem;
    border: solid #ece3f0 1px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#roadmap {
    margin-block: 70px;
}

.maps {
    gap: 20px;
}

.map {
    color: #1e2f5b;
    padding: 1.5rem;
    border: solid 1px #000f94;
    position: relative;
    background: #ece3f0;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 0px #0000008f inset;
    flex: 1;
}

map ul {
    list-style-type: disc;
    padding-left: 1rem;
}

.phase-4 {
    width: fit-content;
    margin-inline: auto;
    flex-wrap: wrap;
}

.phase-4 h5 {
    font-size: 1.5rem;
}

.phase-4 p {
    font-size: 3rem;
}